/* -------------------- ---------- MOBILE ---------- -------------------- */

    /* -------------------- ---------- MOBILE ---------- -------------------- */

        /* -------------------- ---------- MOBILE ---------- -------------------- */
        @media screen and (max-width: 650px) {   
            /* -------------------- -------------------- STYLES CREATED DURING [Home - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                .menu-nav-exit-img{
                    display: flex;
                }
                .social-input-con{
                    padding: 2.5em 0 0 0;
                }
                .social-img{
                    display: flex;
                }
                .social-cr8-btn {
                    margin-right: 0;
                    padding: 0.5em 5em;
                }
                .facebook-social-display {
                    display: none;
                }
                .social-top-con{
                    padding-bottom: 2.5em;
                }
            /* -------------------- --------------------  -------------------- */
        /* -------------------- -------------------- -------------------- -------------------- -------------------- */
        }
    /* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */

/* -------------------- ---------- MOBILE ---------- -------------------- */










/* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */

    /* -------------------- ---------- TABLET ---------- -------------------- */

        @media screen and (min-width: 650px) and (max-width: 992px) {
            
            /* -------------------- -------------------- STYLES CREATED DURING [Home - PAGE] -------------------- -------------------- */
                /* --------------------  -------------------- */
                    .menu-nav-exit-img{
                        display: flex;
                    }
                    .social-input-con{
                        padding: 7.5em 0 0 0;
                    }
                    .social-img{
                        display: flex;
                    }
                    .social-cr8-btn {
                        margin-right: 2.5vw;
                        padding: 0.5em 10em;
                    }
                    .facebook-social-display {
                        display: none;
                    }
                    .social-top-con{
                        padding-bottom: 5em;
                    }
                /* -------------------- --------------------  -------------------- */
            /* -------------------- -------------------- -------------------- -------------------- -------------------- */
        }

    /* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */

/* -------------------- ---------- TABLET ---------- -------------------- */










/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        /* -------------------- -------------------- STYLES CREATED DURING [LIST - PAGE] -------------------- -------------------- */
                .social-input-con{
                    padding: 2.5em 1em 2.5em 1em;
                    background: rgba(255, 255, 255, 255);
                    border-radius: 1em;
                }
                .social-img{
                    display: none;
                }
                .social-cr8-btn {
                    margin-right: 25em;
                    padding: 0.5em 12.5em;
                }
                .facebook-social-display {
                    display: flex;
                }
                .social-top-con{
                    padding-bottom: 7.5em;
                }
            /* -------------------- --------------------  -------------------- */
    
    }

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */

/* -------------------- ---------- SMALL LAPTOP ---------- -------------------- */










/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

    @media screen and (min-width: 1200px) {
          
        /* -------------------- -------------------- STYLES CREATED DURING [Home - PAGE] -------------------- -------------------- *//* --------------------  -------------------- */
                .menu-nav-exit-img{
                    display: none;
                }
                .social-input-con{
                    padding: 2.5em 1em 2.5em 1em;
                    background: rgba(255, 255, 255, 255);
                    border-radius: 1em;
                }
                .social-cr8-btn {
                    margin-right: 30em;
                    padding: 0.5em 15em;
                }
                .social-img{
                    display: none;
                }
                .facebook-social-display {
                    display: flex;
                }
                .social-top-con{
                    padding-bottom: 10em;
                }
            /* -------------------- --------------------  -------------------- */
    }

/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */

/* -------------------- ---------- LAPTOP ---------- -------------------- */